.btn {
  width: initial;
  padding: 10px 20px;
  border: none;
}

.btn-submit {
  background-color: $brand-primary;
  color: $brand-white;
}

.btn-cancel {
  background-color: $brand-grey-light;
  color: #666772;
}

.form-buttons {
  .btn {
    display: inline-block;
    margin-right: 10px;
  }
}
