.form-container {
  margin: 0 auto;
  padding: 0 140px;
  margin-bottom: 200px;

  .divider {
    border-top: 3px solid $brand-grey-soft;
    width: 100%;
    display: block;
    margin: 45px 0;
  }
}

form {
  overflow: hidden;
  margin: 0 auto;
  display: flex;

  .side {
    flex: 1;

    &:first-child {
      padding-right: 45px;
    }

    &:last-child {
      padding-left: 45px;
    }


    div {
      margin: 25px 0;

      span {
        font-size: 12px;
        margin: 8px 0;
        display: none;
      }
    }
  }

  label, legend {
    font-size: 14px;
    color: $brand-black;
  }

  input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    font-size: 14px;
    color: $brand-grey;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    div {
      display: inline-block;
      padding-right: 15px;
    }
  }
}

input {
  border: 1px solid $brand-grey-light;
  border-radius: 4px;
  height: 35px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
  font-size: 14px;
  padding: 0 8px;
}

input:focus {
  outline: none;
  border: 1px solid $brand-primary;
}

.form-radio, .form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  border: 1px solid $brand-grey-light;
  top: 10px;
  height: 28px;
  width: 28px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.form-checkbox {
  border-radius: 3px;
}

.form-radio:checked::before {
  position: absolute;
  font: 14px 'Open Sans', sans-serif;
  left: 9px;
  top: 3px;
  content: '\25CF';
  transform: scale(2.4);
}

.form-checkbox:checked::before {
  position: absolute;
  font: 18px 'Open Sans', sans-serif;
  left: 8px;
  top: 0px;
  content: '\02143';
  transform: rotate(40deg) scale(1.1);
  font-weight: bold;
}

.form-radio:hover, .form-checkbox:hover {
  border: 1px solid $brand-primary;
}

.form-radio:checked, .form-checkbox:checked {
  border: 1px solid $brand-primary;
}

.checks {
  div {
    padding-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  div.form-container {
    padding: 0;

    form {
      display: block;
    }
  }
  div.side {
    &:first-child {
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
    }
  }
}
