.brand-icon {
  font-weight: bold;
  font-size: 16px;
  padding: 0 5px;
  color: $brand-white;
  font-style: normal;
  border-radius: 4px;
  border: 3px solid $brand-white;
  position: relative;
  margin: 0 10px;

  &:after {
    content: '';
    border-radius: 4px;
    background-color: $brand-primary;
    width: 42px;
    height: 40px;
    position: absolute;
    left: -11px;
    z-index: -2;
    top: -12px;
  }
}

@media screen and (max-width: 1024px) {
  .brand-icon {
    font-size: 10px;
    margin: 0 5px;

    &:after {
      width: 35px;
      height: 35px;
    }
  }
}
