.brand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.brand-title {
  flex-grow: 2;

  a {
    color: $brand-grey;
  }
}

.dropdown {
  position: relative;
  margin: 16px 0 0 0;

  .btn-dropdown {
    border: none;
    font-size: 14px;
    padding: 5px 16px;
    width: 100%;
    text-align: left;
    color: $brand-grey;

    span {
      border: 1px solid $brand-grey;
      border-radius: 50%;
      padding: 5px;
      margin-right: 8px;
    }
  }


  &:hover, &:focus {
    cursor: pointer;

    .dropdown-content {
      display: block;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 170px;
    border: 1px solid $brand-grey-light;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    margin-top: 10px;
    background-color: $brand-white;

    .btn-logout {
      padding: 12px 16px;
      cursor: pointer;
      border-top: 1px solid $brand-grey-soft;

      &:hover {
        background-color: $brand-grey-soft;
        color: $brand-primary;
      }
    }

    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 14px;
      color: $brand-grey;

      &:hover {
        background-color: $brand-grey-soft;
        color: $brand-primary;
      }
    }
  }
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  background-color: $brand-grey-soft;
  margin: 0 -40px;

  ol {
    list-style-type: none;

    li {
      display: inline-block;
      font-size: 14px;
      padding: 3px 5px;

      a {
        color: $brand-grey;

        &:hover {
          color: $brand-primary;
          text-decoration: underline;
        }
      }

      .grey-medium {
        padding: 7px;
      }
    }
  }

  .truncate {
    cursor: pointer;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 30px;
    vertical-align: bottom;
    color: $brand-primary;

    &:hover, &:focus {
      width: auto;
      transition: width 2s ease-in-out;
    }
  }
}

@media screen and (max-width: 1024px) {
  .dropdown .btn-dropdown {
    font-size: 12px;

    span {
      font-size: 10px;
    }
  }
}
