// green
$brand-primary:         #54B59A;
$brand-primary-light:   #C3E8E0;

//grey
$brand-grey:            #333333;
$brand-grey-light:      #C3C3C3;
$brand-grey-soft:       #F9F9F9;
$brand-grey-medium:     #999999;

//white
$brand-white:            #FFFFFF;

//black
$brand-black:            #000000;

.green {
  color: $brand-primary;
}

.light-green {
  color: $brand-primary-light;
}

.grey {
  color: $brand-grey;
}

.grey-light {
  color: $brand-grey-light;
}

.grey-soft {
  color: $brand-grey-soft;
}

.grey-medium {
  color: $brand-grey-medium;
}
