table {
  clear: both;
  width: 100%;
  font-size: 14px;
  border-collapse:collapse;

  tr:nth-child(even) {background-color: $brand-grey-soft;}
  tr:nth-child(odd) {background-color: $brand-white;}

  thead {
    text-align: left;
    th {
      color: #333;
    }
  }

  tbody {
    tr:hover {
      background-color: $brand-grey-light;

      .trashy {
        visibility: visible;
      }
    }
  }

  td, th {
    padding: 15px;
  }

  a {
    color: $brand-primary;
  }
}

@media screen and (max-width: 1024px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
.trashy {
  visibility: hidden;
  cursor: pointer;
}
