.title-section {
  display: flex;

  h3 {
    flex: 1;
    padding-right: 35px;
  }

  .divider {
    flex: 7;
    border-top: 3px solid $brand-grey-soft;
    margin-top: 56px;
  }

  .fa-search {
    position: relative;
    left: 45px;
    top: 50px;
    color: $brand-grey-medium;
  }

  form {
    flex: 3;
    align-self: flex-start;
    padding-left: 25px;
    margin-top: 35px;

    input {
      padding: 0 25px;
      color: $brand-grey-medium;
    }
  }
}
