.top-section {
  background-color: $brand-primary-light;
  margin: 0 -40px;
  padding: 0 40px;

  .top-section-item {
    padding: 40px 40px 40px 0;
    display: inline-block;
    vertical-align: top;

    .image-container {
      float: left;
      width: 27%;
    }
    .text-container {
      float: left;
      width: 73%;
    }

    i {
      font-size: 45px;
    }

    p {
      font-size: 14px;
      margin: 3px;
      padding-left: 10px;
    }
    .block-title {
      font-size: 24px;
      color: $brand-grey;
      font-weight: bold;
    }
  }
}

.blocks-registration {
  display: flex;

  div {
    flex: 1;
    p {
      padding-right: 25px;
      &:first-child {
        font-size: 24px;
        color: $brand-primary;
      }
    }

    i {
      font-size: 64px;
      float: left;
      margin-right: 20px;
    }
  }
}
@media screen and (max-width: 1024px) {
  div.blocks-registration {
    display: block;
  }
}
