* {
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 24px;;
}

h3 {
	font-size: 36px;
	font-weight: normal;
}

a {
	text-decoration: none;

	&::hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: 16px;
	}
	h3 {
		font-size: 20px;
	}
}
